body {
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 15px;
    background-image: url("clearday.jpg");
    background-size: cover;
    background-position: center;
    color: #6b803a;
    max-width: 90%;
    place-self: center;
}

.card {
    width: 100%;
    justify-self: stretch;
    padding: 25px;
    padding-top: 10px;
    border: 3px solid;
    border-radius: 20px;
    background-color: #fefbf9cc;

    box-sizing: border-box;
}

#day {
    grid-column: 1;
}

#notes {
    grid-column: span 3;
    grid-row: span 2;
    min-height: 350px;
    
}

#eugh{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#motivation {
    width: 100%;
}

#export{
    max-height: min-content;
    max-width: auto;
}

textarea {
    min-width: 250px;
    width: 100%;
    height: 80%;
    background-image: url(paper.jpg);
    grid-column: span 2;
}

img {
    max-width: 100%;
    align-self: center;
}

#timer {
    grid-column: span 2;
    display: grid;
    min-width: 210px;
    place-items: center;
}

h1 {
    justify-self: center;
}

#timer-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    
}

#playlist {
    grid-row: span 2;
    
}

#playlist-placeholder {
    display: block;
    width: 100%;
    min-height: 75%;

    margin-top: 17px;
    border: 0;
}



#mood-selector {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6b803a;
}

#numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: stretch;
    gap: 8px;
}

#equals {
    grid-column: span 3;
}

#calculator {
    display: grid;
}

#calc {
    justify-self: stretch;
    gap:10px;
}

#todo {
    grid-column: span 2;
}

#tdip{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    align-self: start;
}

ul {
    padding: 0px;
}

li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    width: 95%;
    align-items: center;
    justify-self: center;
    justify-items: stretch;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    border-bottom: 2px solid;
    border-radius: 15px;
}

#motivation {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

.imgsel {
    height: min-content;
    width: min-content;
}

body.clearday {
    background-image: url("clearday.jpg");
    color: #6b803a;
}

body.clearday .card {
    background-color: #fefbf9cc;
}

button.clearday {
    color:#6b803a;
}

li.clearday {
    background-color: #fefbf9;
}

body.clearevening {
    background-image: url("clearevening.jpg");
    color: #555032;
}

body.clearevening .card {
    background-color: #f3bc69cc;
}

li.clearevening {
    background-color: #f3bc69;
}

button.clearevening {
    color: #555032;
}

body.clearnight {
    background-image: url("clearnight.jpg");
    color: #fffeffcc;
}

body.clearnight .card {
    background-color: #2b385ecc;
}

li.clearnight {
    background-color: #2b385e;
}


body.cloudday {
    background-image: url("cloudday.jpg");
    color: #373b32;
}

body.cloudday .card {
    background-color: #b7b4cdcc;
}

li.cloudday {
    background-color: #b7b4cd;
}

button.cloudday {
    color: #373b32;
}

body.cloudevening {
    background-image: url("cloudevening.jpg");
    color: #2b393b;
}

body.cloudevening .card {
    background-color: #8c97b8cc;
}

li.cloudevening {
    background-color: #8c97b8;
}

button.cloudevening {
    color: #2b393b;
}

body.cloudnight {
    background-image: url("cloudnight.jpg");
    color: #0c0b06;
}

body.cloudnight .card {
    background-color: #848889cc;
}

li.cloudnight {
    background-color: #848889;
}

button.cloudnight {
    color: #0c0b06;
}

body.rainday {
    background-image: url("rainday.jpg");
    color: #485334;
}

body.rainday .card {
    background-color: #d2d6d3cc;
}

button.rainday {
    color: #485334;
}

body.rainevening {
    background-image: url("rainevening.jpg");
    color: #1e1518;
}

body.rainevening .card {
    background-color: #858b99cc;
}

button.rainevening {
    color: #1e1518;
}

body.rainnight {
    background-image: url("rainnight.jpg");
    color: #f3f3f0;
}

body.rainnight .card {
    background-color: #364566;
}

button.rainnight {
    color: #f3f3f0;
}

body.snowday {
    background-image: url("snowday.jpg");
    color: #ffffff;
}

body.snowday .card {
    background-color: #6986a9cc;
}

button.snowday {
    color: #ffffff;
}

body.snowevening {
    background-image: url("snowevening.jpg");
    color: #e7e7e6;
}

body.snowevening .card {
    background-color: #606072cc;
}

button.snowevening {
    color: #e7e7e6;
}

body.snownight {
    background-image: url("snownight.jpg");
    color: #e7e7e6;
}

body.snownight .card {
    background-color: #58688ecc;
}

button.snownight {
    color: #f9e6b0;
}
